{% extends 'base.html' %}


{% block content %}


<div class="row">
    {% for contract in category.contracts %}
    <div class="col-3">
        <a href="{{ url_for('contract', id = contract.id)}}">
            <div class="card mt-3">
                <div class="card-body">
                    <div class="row">
                        <div class="col-2">
                            {{contract.number}}
                        </div>
                        <div class="col">
                            {{contract.partner.name}}
                        </div>
                        <div class="col-4">
                            {{contract.amount_money}}
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>

    {% endfor %}
</div>


{% endblock content %}