{% extends 'base.html' %}


{% block content %}

    {% if form.errors %}
    {% for error in form.errors.values() %}
    <p style="color: red">{{ ''.join(error) }}</p>
    {% endfor %}
    {% endif %}

    <div class="col-6">
        <form action="" method='post' enctype="multipart/form-data">
            {{ form.csrf_token }}
            <div class="row m-2">
                <div class="col-4">
                    {{form.category_id.label(class="form-label")}}
                </div>
                <div class="col">
                    {{form.category_id(class="form-control")}}
                </div>
            </div>


            <div class="row m-2">
                <div class="col-4">
                    {{form.partner_id.label(class="form-label")}}
                </div>
                <div class="col">
                    {{form.partner_id(class="form-control")}}
                </div>
            </div>


            <div class="row m-2">
                <div class="col-4">
                    {{form.number.label(class="form-label")}}
                </div>
                <div class="col">
                    {{form.number(class="form-control")}}
                </div>
            </div>

            <div class="row m-2">
                <div class="col-4">
                    {{form.file_path.label(class="form-label")}}
                </div>
                <div class="col">
                    {{form.file_path(class="form-control")}}
                </div>
            </div>

            <div class="row m-2">
                <div class="col-4">
                    {{form.data_start.label(class="form-label")}}
                </div>
                <div class="col">
                    {{form.data_start(class="form-control")}}
                </div>
            </div>

            <div class="row m-2">
                <div class="col-4">
                    {{form.data_finish.label(class="form-label")}}
                </div>
                <div class="col">
                    {{form.data_finish(class="form-control")}}
                </div>
            </div>


            <div class="row m-2">
                <div class="col-4">
                    {{form.auto_renewal.label(class="form-label")}}
                </div>
                <div class="col">
                    {{form.auto_renewal(class="form-checkbox")}}
                </div>
            </div>


            <div class="row m-2">
                <div class="col-4">
                    {{form.tender.label(class="form-label")}}
                </div>
                <div class="col">
                    {{form.tender(class="form-checkbox")}}
                </div>
            </div>


            <div class="row m-2">
                <div class="col-4">
                    {{form.amount_money.label(class="form-label")}}
                </div>
                <div class="col">
                    {{form.amount_money(class="form-control")}}
                </div>
            </div>


            <div class="row m-2">
                <div class="col-4">
                    {{form.nds.label(class="form-label")}}
                </div>
                <div class="col">
                    {{form.nds(class="form-checkbox")}}
                </div>
            </div>


            <div class="row m-2">
                <div class="col-4">
                    {{form.nds_percent.label(class="form-label")}}
                </div>
                <div class="col">
                    {{form.nds_percent(class="form-control")}}
                </div>
            </div>


            <div class="row m-2">
                <div class="col-4">
                    {{form.comment.label(class="form-label")}}
                </div>
                <div class="col">
                    {{form.comment(class="form-control")}}
                </div>
            </div>

            <div class="row m-2">
                <div class="col-4">
                    {{form.submit(class="btn btn-primary")}}
                </div>
            </div>

        </form>
    </div>



{% endblock content %}