{% extends 'base.html' %}


{% block content %}
<div class="row mt-3">
    <div class="col-4">
        <div class="card">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Категория - <a href="{{ url_for('category', id = contract.category_id) }}">{{contract.category}}</a>
                </li>
                <li class="list-group-item">Контрагент - <a href="{{ url_for('partner', id = contract.partner_id) }}">{{contract.partner.name}}</a>
                </li>
                <li class="list-group-item">№ {{contract.number}}</li>
                <li class="list-group-item">{{contract.data_start}} - {{contract.data_finish}}</li>
                <li class="list-group-item">Сумма - {{contract.amount_money}} руб.</li>
                <li class="list-group-item">Неотработанные деньги - {{contract.waste_money}}руб.</li>
                <li class="list-group-item">Действущий - {{contract.current_status}}</li>
                <li class="list-group-item">Автопродление - {{contract.auto_renewal}}</li>
                <li class="list-group-item">Тендерный - {{contract.tender}}</li>
                <li class="list-group-item">Дополнительные соглашения - {{contract.additional_agreements_exists}}</li>
            </ul>
        </div>

        <div class="col mt-2">
            <a class="btn btn-danger" href="{{ url_for('contract_delete', id = contract.id) }}"
               role="button">Удалить</a>
            <a class="btn btn-light" href="{{ url_for('contract_edit', id = contract.id) }}" role="button">Изменить
                данные</a>
        </div>
        <div class="col mt-2">
            <a class="btn btn-light" href="{{ url_for('contract_edit_file', id = contract.id) }}" role="button">Изменить
                файл</a>
            <a class="btn btn-light" href="{{ url_for('download_file', number = contract.number) }}"
               role="button">Скачать</a>
        </div>

        <a class="btn btn-light" href="{{ url_for('additional_agreement_add', contract_id = contract.id) }}"
           role="button">Добавить доп. соглашение</a>

        <div class="col">
            {% if contract.additional_agreements %}
            {% for dop in contract.additional_agreements %}
            {{dop.data}} <a
                href="{{ url_for('download_additional_agreement_file', contract_id = contract.id, id = dop.id) }}">скачать</a>
            <a href="{{ url_for('additional_agreement_delete', contract_id = contract.id, id = dop.id) }}">удалить</a>

            {% endfor%}
            {% endif %}
        </div>


    </div>


    <div class="col">

        <div class="row">

            <div class="col-1">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                     class="bi bi-currency-dollar" viewBox="0 0 16 16">
                    <path d="M4 10.781c.148 1.667 1.513 2.85 3.591 3.003V15h1.043v-1.216c2.27-.179 3.678-1.438 3.678-3.3 0-1.59-.947-2.51-2.956-3.028l-.722-.187V3.467c1.122.11 1.879.714 2.07 1.616h1.47c-.166-1.6-1.54-2.748-3.54-2.875V1H7.591v1.233c-1.939.23-3.27 1.472-3.27 3.156 0 1.454.966 2.483 2.661 2.917l.61.162v4.031c-1.149-.17-1.94-.8-2.131-1.718H4zm3.391-3.836c-1.043-.263-1.6-.825-1.6-1.616 0-.944.704-1.641 1.8-1.828v3.495l-.2-.05zm1.591 1.872c1.287.323 1.852.859 1.852 1.769 0 1.097-.826 1.828-2.2 1.939V8.73l.348.086z"/>
                </svg>
            </div>

            <div class="col">
                <div class="progress" style="height: 30px;" role="progressbar" aria-label="Example with label"
                     aria-valuenow="25"
                     aria-valuemin="0"
                     aria-valuemax="100">
                    <div class="progress-bar" style="width: {{contract.get_percentage()}}%">
                        {{contract.get_percentage()}}%
                    </div>
                </div>
            </div>
        </div>


        <div class="row">

            <div class="col-1">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                     class="bi bi-calendar2-week" viewBox="0 0 16 16">
                    <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM2 2a1 1 0 0 0-1 1v11a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1H2z"/>
                    <path d="M2.5 4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H3a.5.5 0 0 1-.5-.5V4zM11 7.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm-3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm-5 3a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1z"/>
                </svg>
            </div>

            <div class="col mt-1">
                <div class="progress" style="height: 30px;" role="progressbar" aria-label="Example with label"
                     aria-valuenow="25"
                     aria-valuemin="0"
                     aria-valuemax="100">
                    <div class="progress-bar" style="width: {{contract.get_duration_percent()}}%">
                        {{contract.get_duration_percent()}}%
                    </div>
                </div>
            </div>
        </div>

        <div class="row">

            <div class="col">
                <h2>Транзакции</h2>
                <ul>
                    {% for transaction in transaction_list %}
                    <li>{{transaction.moment_of_payment }} {{transaction.amount_money}} {{transaction.justification}}
                    </li>
                    {% endfor %}
                </ul>
            </div>

            <div class="col">
                <h2>+ Транзакция</h2>
                <form action="{{ url_for('add_transaction', id=contract.id)}}" method='post'>
                    {{ form.csrf_token }}
                    <p>{{form.justification.label(class="form-label")}} {{form.justification(class="form-control")}}</p>
                    <p>{{form.amount_money.label(class="form-label")}} {{form.amount_money(class="form-control")}}</p>
                    {{form.submit(class="btn btn-primary")}}
                </form>
            </div>
        </div>

    </div>
</div>


{% endblock content %}