{% extends 'base.html' %}

{% block content %}

<div class="col-8">

    <form action="" method='post'>
        {{ form.csrf_token }}

        <div class="row mt-2">
            <div class="col-2">
                {{form.number.label(class="form-label")}}
            </div>
            <div class="col">
                {{form.number(class="form-control")}}
            </div>
        </div>


        <div class="row mt-2">
            <div class="col-2">
                {{form.data_start.label(class="form-label")}}
            </div>
            <div class="col">
                {{form.data_start(class="form-control")}}
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-2">
                {{form.data_finish.label(class="form-label")}}
            </div>
            <div class="col">
                {{form.data_finish(class="form-control")}}
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-2">
                {{form.auto_renewal.label(class="form-label")}}
            </div>
            <div class="col">
                {{form.auto_renewal(class="form-checkbox")}}
            </div>
        </div>


        <div class="row mt-2">
            <div class="col-2">
                {{form.tender.label(class="form-label")}}
            </div>
            <div class="col">
                {{form.tender(class="form-checkbox")}}
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-2">
                {{form.amount_money.label(class="form-label")}}
            </div>
            <div class="col">
                {{form.amount_money(class="form-control")}}
            </div>
        </div>


        <div class="row mt-2">
            <div class="col-2">
                {{form.nds.label(class="form-label")}}
            </div>
            <div class="col">
                {{form.nds(class="form-checkbox")}}
            </div>
        </div>


        <div class="row mt-2">
            <div class="col-2">
                {{form.nds_percent.label(class="form-label")}}
            </div>
            <div class="col">
                {{form.nds_percent(class="form-control")}}
            </div>
        </div>


        <div class="row mt-2">
            <div class="col-2">
                {{form.comment.label(class="form-label")}}
            </div>
            <div class="col">
                {{form.comment(class="form-control")}}
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-2">
                {{form.submit(class="btn btn-primary")}}
            </div>
        </div>

    </form>
</div>

{% endblock content %}